.about {
    min-height: 646px;
}

.about__title {
    margin-bottom: 50px;
}

.about__collage {
    max-width: 600px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__column {
    max-width: 500px;
}

.about__text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 28px;
}

.about__text:last-of-type {
    margin-bottom: 48px;
}

.about__quote {
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
}

.about__quote:last-of-type {
    padding-left: 36px;
    margin-bottom: 39px;
}

.about__span {
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--dark-purple-color, #6C0287);
}

.about__cite {
    display: flex;
    align-items: center;
    width: 389px;
    height: 84px;
    float: right;
}

.about__img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.about__descr {
    font-size: 20px;
    line-height: 28px;
    width: 240px;
}