.halls {
    padding-bottom: 100px;
}

.halls__title {
    margin-bottom: 47px;
}

.halls__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.halls__item {
    width: 580px;
    height: 349px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.halls__item_vibes {
    background: url("../../img/80s_vibes.jpg") center / 580px no-repeat;
}

.halls__item_star {
    background: url("../../img/star_wars.jpg") center / 580px no-repeat;
}

.halls__item_west {
    background: url("../../img/wild_west.jpg") center / 580px no-repeat;
}

.halls__item_neon {
    background: url("../../img/neon_style.jpg") center / 580px no-repeat;
}

.halls__name {
    max-width: 252px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1240px) {
    .halls {
        padding: 40px 0 71px 0;
    }
    .halls__title {
        margin-bottom: 37px;
    }
    .halls__item {
        width: 443px;
        height: 267px;
    }
    .halls__item_vibes {
        background: url("../../img/80s_vibes_1024.jpg") no-repeat;
    }
    
    .halls__item_star {
        background: url("../../img/star_wars_1024.jpg") no-repeat;
    }
    
    .halls__item_west {
        background: url("../../img/wild_west_1024.jpg") no-repeat;
    }
    
    .halls__item_neon {
        background: url("../../img/neon_style_1024.jpg") no-repeat;
    }
    .halls__name {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 950px) {
    .halls {
        padding: 30px 0 62px 0;
    }
    .halls__title {
        margin-bottom: 35px;
    }
    .halls__item {
        width: 335px;
        height: 200px;
    }
    .halls__item_vibes {
        background: url("../../img/80s_vibes_768.jpg") no-repeat;
    }
    
    .halls__item_star {
        background: url("../../img/star_wars_768.jpg") no-repeat;
    }
    
    .halls__item_west {
        background: url("../../img/wild_west_768.jpg") no-repeat;
    }
    
    .halls__item_neon {
        background: url("../../img/neon_style_768.jpg") no-repeat;
    }
    .halls__name {
        max-width: 129px;
        font-size: 40px;
        line-height: 50px;
        padding-top: 26px;
    }
}

@media (max-width: 950px) {
    .halls__list {
        justify-content: center;
    }
}

@media (max-width: 440px) {
    .halls {
        padding: 15px 0 30px 0;
    }
    .halls__title {
        margin-bottom: 16px; 
    }
    .halls__list {
        row-gap: 10px;
    }
    .halls__item {
        width: 280px;
        height: 168px;
    }
    .halls__item_vibes {
        background: url("../../img/80s_vibes_320.jpg") no-repeat;
    }
    
    .halls__item_star {
        background: url("../../img/star_wars_320.jpg") no-repeat;
    }
    
    .halls__item_west {
        background: url("../../img/wild_west_320.jpg") no-repeat;
    }
    
    .halls__item_neon {
        background: url("../../img/neon_style_320.jpg") no-repeat;
    }
    .halls__name {
        max-width: 84px;
        font-size: 26px;
        line-height: 34px;
        padding-top: 1px;
    }
}