.recreation__title {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 41px;
}

.recreation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.recreation__link {
    display: block;
    position: relative;
    width: 380px;
    height: 228px;
    
}

.recreation__item {
    width: 380px;
    height: 228px;
    perspective: 418px;
}

.recreation__link:hover {
    transform: translateZ(38px);
    transition: 0.5s ease-in-out;
}

.recreation__text {
    position: absolute;
    top: 166px;
    left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}



