.reviews {
    min-height: 1153px;
}

.reviews__title {
    margin-bottom: 50px;
}

.reviews__item {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.reviews__item:last-child {
    margin-bottom: 0;
}

.reviews__photo {
    position: relative;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__photo::after {
    content: '';
    width: 280px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    border-radius: 140px;
}

.reviews__img {
    margin-bottom: 11px;
}

.reviews__text {
    max-width: 680px;
    font-size: 20px;
    line-height: 28px;
    padding-top: 52px;
}