.social {
    list-style: none;
    width: 276px;
    display: flex;
    justify-content: space-between;
}

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    color:#fff;
    outline: 1px solid transparent;
    outline-offset: 3px;
    border-radius: 50%;
    transition-property: color, outline-color;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-in-out;
}

.social__link:hover {
    color: #EADEED;
    transition: 0.3s ease-in-out;
}

.social__link:active svg {
    fill: #CD06FF;
    transition: 0.3s ease-in-out;
}

.social__link:focus {
    color: #EADEED;
    outline-color: #CD06FF;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}
